streamlit
numpy
tensorflow
Pillow
plotly
keras
Flask
Flask-Login
Flask-Migrate
huggingface-hub
keras
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
pandas
pillow
plotly
requests
safetensors
scikit-learn
scipy
seaborn
streamlit
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-macos
tf_keras
torch
Werkzeug
